<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Another thing.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>524170713.15277803</real>
				<key>lastModification</key>
				<real>524170713.15277803</real>
				<key>version</key>
				<dict>
					<key>01660ab8ff3920de98c7765b83a336d6321c5634b605aaf0b33499aecc4d4489</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>524169836.97736597</real>
				<key>version</key>
				<dict>
					<key>01660ab8ff3920de98c7765b83a336d6321c5634b605aaf0b33499aecc4d4489</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>SUMMARY.md</key>
			<dict>
				<key>lastModification</key>
				<real>524170720.71603101</real>
				<key>version</key>
				<dict>
					<key>01660ab8ff3920de98c7765b83a336d6321c5634b605aaf0b33499aecc4d4489</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Ulysses.md</key>
			<dict>
				<key>lastModification</key>
				<real>524416275.40957302</real>
				<key>version</key>
				<dict>
					<key>01660ab8ff3920de98c7765b83a336d6321c5634b605aaf0b33499aecc4d4489</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>first-question.md</key>
			<dict>
				<key>lastModification</key>
				<real>524170720.71603101</real>
				<key>version</key>
				<dict>
					<key>01660ab8ff3920de98c7765b83a336d6321c5634b605aaf0b33499aecc4d4489</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>second-question.md</key>
			<dict>
				<key>lastModification</key>
				<real>524170720.71603</real>
				<key>version</key>
				<dict>
					<key>01660ab8ff3920de98c7765b83a336d6321c5634b605aaf0b33499aecc4d4489</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Another thing.md</string>
		</array>
		<array>
			<string>Ulysses.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>second-question.md</string>
		</array>
		<array>
			<string>first-question.md</string>
		</array>
		<array>
			<string>SUMMARY.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>01660ab8ff3920de98c7765b83a336d6321c5634b605aaf0b33499aecc4d4489</key>
			<integer>12</integer>
		</dict>
	</dict>
</dict>
</plist>
